/**
 * @name    s-switch
 * Provide a nice and simple switch element
 *
 * @example   html
 * <input type="checkbox" is="s-switch" />
 *
 * @author    Olivier Bossel <olivier.bossel@gmail.com>
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-switch-classes(
  $colors: default primary secondary
) {
  @include s-switch-classes-bare();
  @include s-switch-classes-style($colors);
}

/**
 * Print out the bare component css
 */
@mixin s-switch-classes-bare() {
  @include s-component('s-switch') {
    .#{s-component()} {
      width: 2em;
      height: 1em;
      border-radius: 0.5em;
      display: inline-block;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        top: 0.1em;
        left: 0.1em;
        border-radius: 0.4em;
        background-color: white;
        transform: translateX(0) translateY(0);

        @include s-transition(fast);
      }

      &:active::before {
        width: 1em;
      }
    }

    [is="#{s-component()}"]:checked + .#{s-component()} {
      &::before {
        left: 100%;
        transform: translateX(-110%) translateY(0);
      }
    }

    [is="#{s-component()}"]:disabled + .#{s-component()} {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

/**
 * Print out the style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-switch-classes-style(
  $colors: default primary secondary
) {
  @include s-component('s-switch') {
    .#{s-component()} {
      background-color: #e2e2e2;

      @include s-transition(fast);
    }

    @each $color in $colors {
      $sel : '[is="#{s-component()}"][color="#{$color}"]';

      @if $color == default {
        $sel : '[is="#{s-component()}"]';
      }

      #{$sel}:checked + .#{s-component()} {
        background-color: s-color($color);
      }
    }
  }
}
